html {
	width:100%;height:100%;
	background-color:gray;
}
body {
	width:80%; min-height:100%;
	margin:0 auto;
	background-color:#DDD;
	font-size:1em;
}
header{	
	height:20%;
	/*background-image:url('../img/banana.jpg');	background-repeat:no-repeat;	
	background-position:50% 0;	background-size:contain;*/
	background-color:#285529; 
	text-align:center; color:white;	
	position:relative;
}

footer { 
	clear:both; text-align:right;
}
nav {
	float:left;
	width:20%;
	font-size:100%;		
}
.content {
	background-color:white;
	margin-left:20%;
	height:55%;
}
nav li:hover {
	cursor:pointer;
	text-decoration:underline;
}
nav li .normal_li {
	text-decoration:none;
}
nav li .current_li {
	color:orange;
}
nav li .current_li:hover {
	text-decoration:none!important;
}
#save{
	display:block;
	margin:0 auto;
	width:20%;
	cursor:pointer;
	color:red; background-color:yellow;
}
#edit{
	position:absolute; top:50%; left:40%;
	width:20%;
	color:yellow; background-color:red;
	cursor:pointer;
}
.admin_content {	display:none;}
#title_editor, #h1_editor {width:100%;}
