html {
	width:100%;height:100%;
	background-color:gray;
}
body {
	width:80%; min-height:100%;
	margin:0 auto;
	background-color:#DDD;
	font-size:1em;
}
header{	
	height:40%;
	background-image:url('../img/banana.jpg');	background-repeat:no-repeat;	
	background-position:50% 0;	background-size:contain;
	background-color:#285529; 
	text-align:center; color:white;	
}

footer { 
	clear:both; text-align:right;
}
nav {
	float:left;
	width:20%;
	font-size:100%;		
}
.content {
	background-color:white;
	margin-left:20%;
	height:55%;
}
